<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">

    <title>
      {% if page.category != _blank %}
        {{ page.category }} | {{ page.date | date: '%Y' }} |  
      {% endif %}
      {{ site.title }}
    </title>
    
    <link href="{{ site.url }}/assets/base.css" rel="stylesheet"> 
    <link href="{{ site.url }}/assets/layout.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/theme.css" rel="stylesheet">    
    
    <link rel="stylesheet" href="{{ site.url }}/assets/mobile.css" media="screen and (max-width: 640px)" />
    <link rel="stylesheet" href="{{ site.url }}/assets/tablet.css" media="screen and (min-width: 641px) and (max-width: 1024px)" />
    <link rel="stylesheet" href="{{ site.url }}/assets/wide.css" media="screen and (min-width: 1025px) and (max-width: 1399px)" /> 
    <link rel="stylesheet" href="{{ site.url }}/assets/large.css" media="screen and (min-width: 1400px)" /> 
 
    <link rel="stylesheet" href="{{ site.url }}/assets/long.css" media="screen and (device-aspect-ratio: 4/3)" />
    <link rel="stylesheet" href="{{ site.url }}/assets/long.css" media="screen and (device-aspect-ratio: 5/4)" />
    	  
	  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ site.url }}/assets/modernizr.custom.30919.js"></script>
  </head>

