---
layout: default
---

<h1>Works</h1>

<ul>
{% for post in site.posts %}
  {% if post.category != 'books' %}
    <li id="{{ post.date | date: '%Y' }}">
      <a href="{{ site.url }}{{ post.url }}">
        <span id="year" class="{{ post.date | date: '%Y' }}">{{ post.date | date: "%Y" }}</span>
        <span id="collection" class="{{ post.category }}"> - {{ post.category }}</span>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>

{% for post in site.categories.books limit:1 %}
  <ul>
    <li><a href="{{ site.url }}{{ post.url }}">Books</a></li>
  </ul>
{% endfor %}

