#container {
  width: 98%;
  margin: 0 auto;
}


/* Typography
*/

/* Traditional, em */
body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; padding:1.25em 0; }
h2 { font-size:1.75em; padding:1.51786em 0; }
h3 { font-size:1.5em; padding:1.45833em 0; }




body {
  font-family: 'Raleway', sans-serif;
}



/* Background image
*/

#content {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  background-size: cover;
}

/* adding div specific settings + align to grid
*/
#content {
  position: fixed;
  width: 77.5%;
  margin-left: 20%;
  height: 95%;
  top: 2.5%;
}


/* The Grid
*/

.col {
  float: left;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 80%;
}



/* Header, Menu
*/




/* Content
*/

article h1 {
  padding-bottom: 0;
}

#navigation {
  font-size: 500%;
}
#navigation .all {
  font-size: 80%;
  height: 1.55em;
}
#navigation .all span {
  display: block;
  position: relative;
  top: -.7em;
  z-index: -1;
}
#navigation li {
  margin-right: .156em;
  vertical-align: bottom;
}

#thumb {
  width: 100px;
  height: auto;
  margin: 5%;
  float: left;
}



/* Common 
*/

ul {
  list-style: none;
}



