---
---

{% include head.html %}  

<body id="{{ page.title | downsize }}">
  <div id="container">
    
    {% include header.html %}    
    
    <section id="content" class="col col-2">
      {% if page.background != _blank %}
        <div id="background-image" class="hidden">{{ site.url }}/assets/{{ page.background }}</div>
      {% else %}
        <div id="background-image" class="hidden">{{ site.url }}/assets/background.jpg</div>
      {% endif %}
      
      {{ content }}
    </section>
  </div>
  
  {% include footer.html %}
  {% include ga.html %}
</body>
</html>


